body {
    font-family: "Karla", sans-serif !important;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    overflow-x: hidden;
}

footer {
    overflow-x: hidden;
}

@media (max-width:968px) {
    .qoute-btn {
        display: none;
    }
}
#testimonial.container{
    padding:5% 0;

}
.partners-class{
    padding:5% 0;

}
.services-class{
    padding:5% 0;


}
.team-class{
    padding:5% 0;


}
.blog-class{
    padding:5% 0;

}
#testimonial{
    padding:5% 0;

}

.about-class{
    padding:5% 0;
 }
.text-content {
    margin-top: 50%;

}
#home img{
    margin-top: 30%;

}

#home{
    background: rgb(226, 248, 255);
    padding-bottom: 10%;
}